a {
  text-decoration: none;
  padding: 9.75px 13px;
}

img {
  height: auto;
  max-height: 100px;
  width: auto;
  max-width: 100%;
}

div {
  text-align: right;
  font-family: "Open Sans";
  font-size: 14px;
  letter-spacing: 1px;
  padding: 40px 20px;
}

button {
  background-color: #70d0ec; 
  border: none;
  color: white;
  font-weight: 500;
  margin-left: 1em;
  padding: 1em 1.5em !important;
  text-align: center;
  text-decoration: none;
  letter-spacing: 2px;
  display: inline-block;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
  color: white;
}
