/* https://www.w3schools.com/howto/howto_css_navbar_image.asp (referred to this code for the bg image) */
.bg-img {
  background-image: url(img/impacts1.jpg);

  min-height: 380px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  position: relative;
}

/* https://codepen.io/wajahat/pen/ORXvop (referred to this code for the nav bar) */
.nav-container{ 
  clear: both;
  overflow: auto;
  padding: 15px 10px;
  background-color: transparent;
}
nav{
  float: right;
}
.logo{
  float: left;
}
ul li{ 
  display: inline-block;
  font-size: 13px;
  font-family: "Open Sans";
  letter-spacing: 1px;
}
a {
  text-decoration: none;
  padding: 9.75px 13px;
}

button {
  background-color: #70d0ec; 
  border: none;
  color: white;
  font-weight: 500;
  font-size: 12px;
  margin-left: 1em;
  padding: 1em 1.5em !important;
  text-align: center;
  text-decoration: none;
  letter-spacing: 2px;
  display: inline-block;
  cursor: pointer;
  outline: none;
}

button:hover {
  opacity: 0.8;
  color: white;
}



