.nav-container{
  clear: both;
  overflow: auto;
}
nav{
  float: right;
}
.logo{
  float: left;
}
ul li{ 
  display: inline-block;
  padding: 10px;
  font-size: 13px;
  font-family: "Open Sans";
}
a {
  text-decoration: none;
}
button {
  background-color: #70d0ec; 
  border: none;
  color: white;
  font-weight: 500;
  margin-left: 1em;
  padding: 1em 1.5em !important;
  text-align: center;
  text-decoration: none;
  letter-spacing: 2px;
  display: inline-block;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
  color: white;
}
